@font-face {
  font-family: my-fonts;
  src: url(fonts/NotoSansTC-Medium.otf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: my-fonts;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
}
.tere img {
  width: 150px;
  height: 40px;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav a {
  padding: 0 30px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav a:hover {
  color: rgb(6, 129, 245);
}
.nav button {
  height: 30px;
  width: 140px;
  padding: 3px 30px;
  background-color: #75bf7a;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav button:hover {
  background-color: rgb(6, 129, 245);
}
.bgcolor {
  background-color: rgb(240, 231, 231);
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 550px;
  padding: 5px 80px;
}
.cont-1 h1 {
  flex-wrap: wrap;
  font-size: 40px;
}
.cont-1 p {
  flex-wrap: wrap;
  padding-bottom: 65px;
  padding-top: 35px;
  color: #9e9da2;
  font-size: 20px;
}
.cont-1 img {
  width: 240px;
  height: 60px;

  margin-right: 15px;
  cursor: pointer;
}
.cont-2 img {
  width: 340px;
  height: 360px;
}
.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #75bf7a;
  height: 100px;
  padding: 0px 100px;
  margin: 0 100px;
  border-radius: 10px;
}
.section p {
  color: #ffffff;
  flex-wrap: wrap;
  font-size: 15px;
}
.section input {
  height: 40px;
  width: 400px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.section input::placeholder {
  color: #dadada;
}
.section button {
  width: 200px;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.section button:hover {
  background-color: rgb(6, 129, 245);
  border: 1px solid rgb(6, 129, 245);
}
.head-para {
  text-align: center;
  padding: 100px 40px;
}
.head-para h1 span {
  color: #75bf7a;
}
.head-para p {
  color: #9e9da2;
  flex-wrap: wrap;
  padding-top: 20px;
}
.web-working {
  display: flex;
  justify-content: center;
  align-items: center;
}
.web-working .col-1 {
  padding: 20px 30px;
}
.web-working .col-1 h2 {
  flex-wrap: wrap;
  padding: 10px 0;
}
.web-working .col-1 p {
  flex-wrap: wrap;
  color: #9e9da2;
  padding-bottom: 30px;
}
.web-working .center-mob-img img {
  padding-right: 90px;
}
.web-working .col-2 {
  padding: 20px 30px;
}
.web-working .col-2 h2 {
  flex-wrap: wrap;
  padding: 10px 0;
}
.web-working .col-2 p {
  flex-wrap: wrap;
  color: #9e9da2;
  padding-bottom: 30px;
}
.benef-head {
  text-align: center;
  padding: 100px 0;
}
.benef-head span {
  color: #75bf7a;
}
.fl-hours {
  display: flex;
  align-items: center;
  margin-left: 80px;
  justify-content: space-between;
  background-color: #ffffff;
  width: 80%;
  margin-top: 30px;
  padding: 20px 60px;
  border-radius: 20px;
}
.fl-hours .index-num {
  color: #75bf7a;
  padding-right: 20px;
  font-size: 40px;
}
.fl-hours h1 span {
  flex-wrap: wrap;
  color: #000000;
  padding-left: 20px;
}
.fl-hours p {
  color: #9e9da2;
  flex-wrap: wrap;
}
.fl-hours-1 {
  display: flex;
  align-items: center;
  margin-right: 80px;
  float: right;
  justify-content: space-between;
  background-color: #ffffff;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 60px;
  border-radius: 20px;
}
.fl-hours-1 .index-num {
  color: #75bf7a;
  padding-right: 20px;
  font-size: 40px;
}
.fl-hours-1 h1 span {
  flex-wrap: wrap;
  color: #000000;
  padding-left: 20px;
}
.fl-hours-1 p {
  color: #9e9da2;
  flex-wrap: wrap;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  margin-top: 150px;
  padding: 80px 30px;
  flex-wrap: wrap;
  border: 1px solid #ececec;
}
.footer .f-our-friend h3 {
  padding: 5px 0;
}
.footer .f-our-friend p {
  color: #8b8ba5;
  padding: 5px 0;
}
.footer .f-img1 img {
  height: 40px;
  cursor: pointer;
}
.f-line p {
  padding: 50px 0;
  text-align: center;
  background-color: #ffffff;
  color: #75bf7a;
}
@media (max-width: 1079px) {
  .container .cont-1 h1 {
    font-size: 35px;
  }
  .container .cont-1 p {
    font-size: 20px;
  }
  .container .cont-1 img {
    display: inline-block;
    width: 200px;
    height: 50px;
  }
  .section button {
    margin-left: 10px;
  }
  .tere-benefits .fl-hours h1 {
    font-size: 30px;
  }
  .tere-benefits .fl-hours p {
    font-size: 15px;
  }
  .tere-benefits .fl-hours img {
    height: 180px;
  }
  .tere-benefits .fl-hours-1 h1 {
    font-size: 30px;
  }
  .tere-benefits .fl-hours-1 p {
    font-size: 15px;
  }
  .tere-benefits .fl-hours-1 img {
    height: 180px;
  }
}
@media (max-width: 949px) {
  .container .cont-1 h1 {
    font-size: 30px;
  }
  .container .cont-1 p {
    font-size: 15px;
  }
  .container .cont-1 img {
    display: inline-block;
    width: 170px;
    height: 50px;
  }
  .container .cont-2 img {
    height: 300px;
    width: 280px;
  }
  .section {
    padding: 0 60px;
  }
  .section p {
    font-size: 15px;
  }
  .section input {
    width: 500px;
  }
  .section button {
    margin-left: 10px;
    width: 250px;
  }
  .footer .logo img {
    height: 30px;
    width: 80px;
  }
  .footer .f-our-friend h3 {
    font-size: 17px;
  }
  .footer .f-our-friend p {
    font-size: 12px;
  }
  .footer .f-img1 img {
    height: 40px;
    width: 140px;
  }
}
@media (max-width: 859px) {
  .header .nav {
    display: none;
  }
}
@media (max-width: 820px) {
  .container .cont-1 h1 {
    font-size: 25px;
  }
  .container .cont-1 p {
    font-size: 12px;
  }
  .container .cont-1 img {
    display: inline-block;
    width: 140px;
    height: 40px;
  }
  .container .cont-2 img {
    height: 280px;
    width: 280px;
  }

  .section p {
    font-size: 12px;
  }
  .section input {
    width: 400px;
  }
  .section button {
    margin-left: 10px;
    width: 220px;
    font-size: 10px;
  }
  .tere-benefits .fl-hours {
    margin-left: 30px;
  }
  .tere-benefits .fl-hours h1 {
    font-size: 22px;
  }
  .tere-benefits .fl-hours p {
    font-size: 10px;
  }
  .tere-benefits .fl-hours img {
    height: 130px;
  }
  .tere-benefits .fl-hours-1 {
    margin-left: 30px;
  }
  .tere-benefits .fl-hours-1 h1 {
    font-size: 22px;
  }
  .tere-benefits .fl-hours-1 p {
    font-size: 10px;
  }
  .tere-benefits .fl-hours-1 img {
    height: 130px;
  }
}
@media (min-width: 2000px) {
  .header .tere img {
    height: 60px;
  }
  .header .nav a {
    font-size: 25px;
  }
  .header .nav button {
    width: 180px;
    height: 45px;
    font-size: 20px;
  }
  .container {
    padding: 0 110px;
  }
  .container .cont-1 h1 {
    font-size: 50px;
  }
  .container .cont-1 p {
    font-size: 25px;
  }
  .container .cont-1 img {
    display: inline-block;
    width: 300px;
    height: 80px;
  }
  .container .cont-2 img {
    height: 400px;
    width: 400px;
  }
  
  .head-para p{
    font-size: 25px;
  }
}

@media (min-width: 2400px) {
  .container {
    padding: 400px 180px;
  }
  .container .cont-1 h1 {
    font-size: 60px;
  }
  .container .cont-1 p {
    font-size: 30px;
  }
  .container .cont-1 img {
    display: inline-block;
    width: 310px;
    height: 90px;
    margin-top: 60px;
  }
  .container .cont-2 img {
    height: 520px;
    width: 550px;
  }
  .section{
    height: 150px;
    padding: 50px 0;
    margin-top: 50px;
  }
  .section p {
    font-size: 30px;
  }
  .section input {
    width: 600px;
    height: 50px;
  }
  .section button {
    /* margin-right: px; */
    width: 250px;
    height: 50px;
    font-size: 18px;
  }
  .head-para p{
    font-size: 30px;
  }
  .web-working{
    padding: 0 70px;
  }
  .web-working h2{
    font-size: 40px;
  }
  .web-working p{
    font-size: 25px;
  }
  .web-working img{
    width: 400px;
  }
  .tere-benefits .fl-hours h1 {
    font-size: 50px;
  }
  .tere-benefits .fl-hours p {
    font-size: 25px;
  }
  .tere-benefits .fl-hours img {
    height: 300px;
  }
  .tere-benefits .fl-hours-1 h1 {
    font-size: 50px;
  }
  .tere-benefits .fl-hours-1 p {
    font-size: 25px;
  }
  .tere-benefits .fl-hours-1 img {
    height: 300px;
  }
  .footer .logo img {
    height: 60px;
    width: 160px;
  }
  .footer .f-our-friend h3 {
    font-size: 35px;
  }
  .footer .f-our-friend p {
    font-size: 20px;
  }
  .footer .f-img1 img {
    height: 80px;
    width: 320px;
  }
  .f-line p{
    font-size:30px ;
  }

}
